backports-datetime-fromisoformat==2.0.1
beautifulsoup4==4.12.3
blinker==1.7.0
cachelib==0.9.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dash==2.16.1
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-extensions==1.0.14
dash-html-components==2.0.0
dash-table==5.0.0
dataclass-wizard==0.22.3
EditorConfig==0.12.4
ffmpy==0.3.2
flask==3.0.2
Flask-Caching==2.1.0
idna==3.6
importlib-metadata==7.1.0
itsdangerous==2.1.2
Jinja2==3.1.3
jsbeautifier==1.15.1
m3u8==4.0.0
MarkupSafe==2.1.5
more-itertools==9.1.0
nest-asyncio==1.6.0
numpy==1.26.4
packaging==24.0
pandas==2.2.1
parsedatetime==2.6
pillow==10.2.0
plotly==5.20.0
psutil==5.9.8
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==25.1.2
requests==2.31.0
retrying==1.3.4
six==1.16.0
soupsieve==2.5
tenacity==8.2.3
termcolor==2.4.0
terminaltables==3.1.10
texttable==1.7.0
tqdm==4.66.2
typing-extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
vcsi==7.0.16
websocket-client==1.7.0
werkzeug==3.0.1
zipp==3.18.1
