<div id="error-container">
    <div class="error-modal">
        <span>{{ streamer_error_message }}</span>
        <button hx-delete="/clear" hx-swap="outerHTML" hx-target="closest .error-modal" hx-trigger="click">dismiss</button>
    </div>
</div>