/* roboto-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */
			url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff")
			format("woff"),
		/* Modern Browsers */
			url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#Roboto")
			format("svg"); /* Legacy iOS */
}

:root {
	--main_background: #222831;
	--main_foreground: #00adb5;
	--secondary_background: #393e46;
	--secondary_foreground: #eeeeee;
	--downloading_color: greenyellow;
}

html,
body {
	box-sizing: border-box;
	height: 99%;
	background-color: var(--main_background);
	background: var(--main_background);
	background: linear-gradient(
		150deg,
		var(--secondary_background) 0%,
		var(--main_background) 94%
	);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
}

a, a:visited {
    color: inherit;
}

#freespace {
	position: absolute;
	color: var(--secondary_foreground);
	font-size: smaller;
	right: 0.5rem;
	top: 0.5rem;
}

fieldset {
	margin: 1rem;
	border: none;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	background-color: var(--secondary_background);
	color: var(--secondary_foreground);
}

legend {
	background-color: var(--main_background);
	border-radius: 0.7rem;
	padding: 0.75rem;
	font-size: 1.3rem;
	color: var(--main_foreground);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	transform: translateX(-1.1rem);
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.8);
}

#filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#filter > span {
  margin-inline: 0.3rem;
}

#streamerGrid {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: space-evenly;
	align-content: flex-start;
	align-items: stretch;
}

.streamer {
	position: relative;
	border: 1px solid var(--main_background);
	border-radius: 0.5rem;
	min-width: 350px;
	max-width: 350px;
	display: block;
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1;
	border-inline-start: 15px solid var(--main_background);
	z-index: 10;
	overflow: auto;
}

.streamer:hover {
	border-color: var(--main_foreground);
	scale: 1.05;
}

.streamer.inactive {
	opacity: 0.4;
}

.streamer.downloading {
	border-color: var(--downloading_color);
}

.streamer_header {
	background-color: var(--main_background);
	color: var(--main_foreground);
	padding: 0.2rem;
	display: flex;
	align-items: center;
	width: 100%;
	z-index: 11;
}

.streamer_name {
	font-size: 1.5rem;
	display: inline;
}

.streamer_url, .streamer_url:visited {
	color: var(--secondary_foreground);
	font-size: 1rem;
	flex-grow: 1;
	margin-inline: 1rem;
}

.streamer_content {
	padding: 0.5rem;
	padding-top: 0.2rem;
}

.streamer_status {
	display: block;
}

.streamer_group {
	font-size: 0.9rem;
	padding: 0.1rem;
}

.streamer_group_name {
	display: block;
}

.streamer_group_downloadinfo {
	display: block;
}

.streamer_site {
	display: inline-block;
	background-color: var(--main_foreground);
	color: var(--main_background);
	border-radius: 50%;
	padding: 0.5rem;
	margin: 0.2rem;
	margin-inline: 0.5rem;
}

.dropdown {
	position: relative;
	display: inline-block;
	z-index: 99;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: fixed;
	overflow: visible;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: inline-block;
	z-index: 102;
	position: relative;
	overflow: visible;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
	z-index: 100;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.streamer .dropdown-content {
	right: 0;
}

.streamer_dropdown {
	margin-inline: 0.5rem;
	width: 50px;
	text-align: right;
}

.streamer .streamer_start {
	display: none;
}

.streamer .streamer_stop {
	display: inline-block;
}

.streamer.inactive .streamer_start {
	display: inline-block;
}

.streamer.inactive .streamer_stop {
	display: none;
}

.streamer.inactive .streamer_edit {
	display: none;
}

#streamerModal {
	display: none;
}

#streamerModal.show {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
  justify-content: center;
  z-index: 1050;
  overflow:hidden;
  outline:0;
  background: rgba(0,0,0,0.5);
}

#streamerModal_form {
	display: flex;
	flex-direction: column;
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: var(--secondary_background);
	color: var(--secondary_foreground);
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 2000;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
	border-radius: 2rem;
	border: 2px solid var(--main_foreground);
  }
  
  #snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
	animation: fadein 0.5s, fadeout 0.5s 5s;
  }
  
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }