{% set refresh_interval = 'hx-swap="outerHTML" hx-get="/recording/nav/{user}/{site}" hx-sync="#video-list:abort" hx-include=".streamer-context" hx-trigger="every {interval}s"'.format(interval=refresh_freq, user=streamer.username, site=streamer.site) %}
{% set icon = streamer | status_icon_class %}
<nav id="nav-bar" class="nav {{ 'has-error' if has_error }}" {{ refresh_interval if refresh_freq and refresh_freq > 0}}>
    <a class="home-link" href="/#streamer-{{ streamer.siteslug|lower }}-{{ streamer.username }}"><i class="icon feather icon-home"></i></a>
    <div class="streamer-info">
        <h1>{{ streamer.username }}</h1>
        <a href="{{ streamer.url }}" target="_blank"><div title="{{ streamer.sc | status_text }}" class="status-indicator {{icon}}"><i class="icon feather icon-{{icon}}"></i></div></a>
    </div>
    <span class="nav-spacer">
        <input type="hidden" name="prev_state" class="streamer-context play-video-context sorted-context" value="{{ streamer.sc }}">
    </span>
</nav>
{% if update_content %}
    <div hx-swap-oob="innerHTML:#video-list">
        {% include 'video_list.html.jinja' ignore missing with context %}
    </div>
{% endif %}