{% extends "layout.html.jinja" %}
{% block title %}StreaMonitor - List{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="htmx-config" content='{"useTemplateFragments":"true", "methodsThatUseUrlParams": ["get", "delete", "patch"]}'>
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <script>
        htmx.on('htmx:beforeSwap', function(evt) {
            if(evt.detail.elt.classList.contains('delete-streamer') && !detail.shouldSwap) {
                evt.detail.target = htmx.find("#error-container");
            }
            evt.detail.shouldSwap = true;
        });
    </script>
{% endblock %}
{% block content %}
    <div class="title-container">
        <h1>StreaMonitor</h1>
        <div class="disk-usage">
            <span class="du-label">
                <span class="du-label-free">Free:</span>
                <span class="du-label-free">Total:</span>
            </span>
            <span class="du-space">
                <span class="du-space-free">{{free_space}}</span>
                <span class="du-space-total">{{total_space}}</span>
            </span>
            <span class="du-percent-free">{{percentage_free}}%</span>
        </div>
    </div>
    <div>
        <form hx-post="/add"
            hx-trigger="submit"
            hx-target="#streamers"
            hx-swap="innerHTML settle:3s"
            hx-sync="#streamers:replace"
            hx-disabled-elt=".modify-streamers"
            id="add-streamer-form">
            <label class="add-streamer-label username-field">
                <span class="add-streamer-label-text">username:</span>
                <input class="input-username" type="text" name="username" minlength="3" required="required">
            </label>
            <label class="add-streamer-label site-field">
                <span class="add-streamer-label-text">site:</span>
                <select name="site" id="site" required="required">
                    {% set default_site = streamers[-1].site if streamers|length > 0 else '' %}
                    {% for site in sites %}
                        <option value="{{ site.site }}" {% if site.site == default_site %}selected="selected"{% endif %}>{{ site.site }}</option>
                    {% endfor %}
                </select>
            </label>
            <div class="submit-form-container">
                <button type="submit" class="modify-streamers add-streamer">Add</button>
            </div>
        </form>
    </div>
    <div class="streamers-list-actions">
        <div class="filter-streamers">
            <input class="hidden-checkbox" hx-on:keyup="if(event.key=='Enter'){this.checked=!this.checked}" id="show-filters" type="checkbox">
            <label class="fake-btn" for="show-filters">
                Filters<i class="icon feather icon-chevron-up"></i>
            </label>
            <div hx-sync="#streamers:queue last" class="filter-streamers-options">
            </div>
        </div>
        <div class="all-streamers-actions">
            <button hx-patch="/stop/streamers"
                hx-target="#streamers"
                hx-trigger="click"
                hx-include=".filter-streamers-state:valid"
                hx-swap="innerHTML settle:3s"
                hx-sync="#streamers:queue first"
                hx-disabled-elt=".modify-streamers" 
                class="modify-streamers stop-streamers">Stop All</button>
            <button hx-patch="/start/streamers"
                hx-trigger="click"
                hx-target="#streamers"
                hx-include=".filter-streamers-state:valid"
                hx-swap="innerHTML settle:3s"
                hx-sync="#streamers:queue first"
                hx-disabled-elt=".modify-streamers" 
                class="modify-streamers start-streamers">Start All</button>
        </div>
    </div>
    <div id="error-container">
    </div>
    {% set resultStatus = 'hide' %}
    {% set resultMessage = '' %}
    {% set refresh_interval = 'hx-swap="innerHTML" hx-get="/refresh/streamers" hx-sync="#streamers:abort" hx-include=".filter-streamers-state:valid" hx-trigger="every {interval}s"'.format(interval=refresh_freq) %}
    <div id="streamers" {{ refresh_interval if refresh_freq and refresh_freq > 0}}>
        {% include 'streamers_result.html.jinja' ignore missing with context %}
    </div>
    <div id="toast-notifications">
    </div>
{% endblock %}