<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>{% block title %}StreaMonitor{% endblock %}</title>
    {% block head %}
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/iconfont.css') }}">
    {% endblock %}
    <script>
        function dismissErrorModal() {
            document.querySelectorAll('.error-modal').forEach(m => m.remove());
        }
    </script>
</head>
<body>
    {% block nav %}{% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>