{% set refresh_interval = 'hx-swap="outerHTML" hx-get="/recording/nav/{user}/{site}" hx-trigger="every {interval}s"'.format(interval=refresh_freq, user=streamer.username, site=streamer.site) %}
<nav id="nav-bar" class="nav {{ 'has-error' if has_error }}" {{ refresh_interval if refresh_freq and refresh_freq > 0}}>
    <a class="home-link" href="/"><i class="icon feather icon-home"></i></a>
    <div class="streamer-info">
        <h1>{{ streamer.username }}</h1>
        {% set icon = streamer.status_icon %}
        <a href="{{ streamer.url }}" target="_blank"><div title="{{ streamer.web_status }}" class="status-indicator {{icon}}"><i class="icon feather icon-{{icon}}"></i></div></a>
    </div>
    <span class="nav-spacer"></span>
</nav>