{% if toggleStreamerHasError %}
    <div class="error-modal">
        <span>{{ toggleStreamerResultMessage }}</span>
        <button hx-on:click="dismissErrorModal()">dismiss</button>
    </div>
{% endif %}
<span>{{ streamer.running }}</span>
<button hx-patch="/toggle/{{ streamer.username }}/{{ streamer.site }}"
    hx-trigger="click"
    hx-target="closest .streamer-will-record"
    hx-swap="innerHTML"
    hx-disabled-elt="this">
    {% if streamer.running %}
        <span>Pause</span>
        <i class="icon feather icon-pause-circle"></i>
    {% else %}
        <span>Resume</span>
        <i class="icon feather icon-play-circle"></i>
    {% endif %}
</button>