{% if videos is none or videos|length == 0 %}
    <p class="full-width center">No recordings</p>
    <div class="full-width center streamer-toggle">
        {% include 'streamer_toggle.html.jinja' ignore missing with context %}
    </div>
{% else %}
    <div class="files-container-header">
        <h3 class="title">Files</h3>
        <button class="sort-action"
            hx-get="/videos/{{ streamer.username }}/{{ streamer.site }}"
            hx-trigger="click"
            hx-target="#video-list"
            hx-sync="#video-list:queue last"
            hx-swap="innerHTML"
            {{ 'hx-vals=\'{"sorted": "True"}\''|safe if not sort_by_size }}
            hx-include=".play-video-context"
            title="Sort by {{'timestamp' if sort_by_size else 'file size'}}"
            hx-disabled-elt="this">
                <i class="icon feather {{'icon-clock' if sort_by_size else 'icon-bar-chart'}}"></i>Sort
                {% if sort_by_size %}
                    <input type="hidden" name="sorted" {{ 'disabled' if not sort_by_size }} id="sorted" readonly class="streamer-context sorted-context" value="{{ sort_by_size }}">
                {% endif %}
            </button>
    </div>
    <div class="files-container streamer-info">
        <div class="streamer-toggle">
            {% include 'streamer_toggle.html.jinja' ignore missing with context %}
        </div>
        <span>Total Space: {{ total_size | tohumanfilesize }}</span>
    </div>
    <div class="files-container video-list">
    {% for video in videos.values() %}
        {% set disable_delete = video.filename == video_to_play.filename and videos|length > 1 %}
        <div class="video-ref">
            <a href="/videos/watch/{{ streamer.username }}/{{ streamer.site }}/{{ video.filename }}"
            class="video-link link-fill"
            hx-get="/videos/watch/{{ streamer.username }}/{{ streamer.site }}/{{ video.filename }}"
            hx-trigger="click"
            hx-include=".sorted-context"
            hx-target="#content"
            hx-sync="#video-list:replace"
            hx-swap="innerHTML"><span class="filename">{{ video.shortname }}</span><span class="size">{{ video.human_readable_filesize }}</span></a>
            <button hx-delete="/videos/{{ streamer.username }}/{{ streamer.site }}/{{ video.filename }}"
                hx-trigger="click"
                hx-target="#video-list"
                hx-sync="#video-list:replace"
                hx-include=".streamer-context"
                hx-swap="innerHTML"
                hx-disabled-elt="this"
                {{ "disabled" if disable_delete }}
                {{ 'hx-confirm="Are you sure you want to delete {filename}?"'.format(filename=video.filename) if confirm_deletes }}
                title="{{ 'you cannot remove a video currently loaded' if disable_delete else 'remove video' }}"
                class="remove-video {{ 'currently-playing' if disable_delete }}">
                <i class="icon feather icon-trash-2"></i>
            </button>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% if has_error %}
    <div class="error-modal">
        <span>{{ recordings_error_message }}</span>
        <button hx-delete="/clear" hx-swap="outerHTML" hx-target="closest .error-modal" hx-trigger="click">dismiss</button>
    </div>
{% endif %}