<h4 class="playing-video">Playing {{ play_video | shortname(user) }}</h4>
    <video preload="auto" controls="controls">
        <source src="/videos/{{ user }}/{{ site }}/{{ play_video }}" type="{{ mimetype }}" />
    </video>
<a href="/videos/{{ user }}/{{ site }}/{{ play_video }}" download>Download <i class="icon feather icon-download"></i></a>
