<h4>Playing {{ filename }}</h4>
<video preload="auto" controls="controls">
    <source src="/videos/get/{{ user }}/{{ site }}/{{ filename }}" type="video/{{ extension }}" />
</video>
<a href="/videos/get/{{ user }}/{{ site }}/{{ filename }}" download>Download <i class="icon feather icon-download"></i></a>
