{% if streamer is not none %}
<tr id="streamer-{{ streamer.siteslug|lower }}-{{ streamer.username }}" class="streamer">
    <td class="icon-container">
        <div title="{{ streamer.sc | status_text }}" class="status-indicator {{ streamer | status_icon_class }}">
            <i class="icon feather icon-{{ streamer | status_icon_class }}"></i>
        </div>
    </td>
    <td class="site-container">
        <a class="streamer-link link-fill" target="_blank" href="{{ streamer.url }}">
            <span class="link-text">{{ streamer.site }}</span><span class="mobile-link-text">{{ streamer.siteslug }}</span>
        </a>
    </td>
    <td class="streamer-container"><a class="link-fill" href="/recordings/{{ streamer.username }}/{{ streamer.site }}">{{ streamer.username }}</a></td>
    <td class="streamer-will-record">
        <span class="recording-status {{'not-recording' if not streamer.running }}">{% if streamer.running %}Yes{% else %}No{% endif %}</span>
        <button class="{{'pause-btn' if streamer.running else 'record-btn' }}" 
            hx-patch="/toggle/{{ streamer.username }}/{{ streamer.site }}"
            hx-trigger="click"
            hx-target="closest .streamer"
            hx-sync="closest .streamer:replace"
            hx-swap="outerHTML"
            hx-disabled-elt="this">
            {% if streamer.running %}
                <span>Pause</span>
                <i class="icon feather icon-pause-circle"></i>
            {% else %}
                <span>Resume</span>
                <i class="icon feather icon-play-circle"></i>
            {% endif %}
        </button>
    </td>
    <td class="center">{{ streamer.sc | status_text }}</td>
    <td class="right-align">{{ streamer.video_files_total_size | tohumanfilesize(fix_decimals=2) }}</td>
    <td class="right-align">{{ streamer.video_files | count }}</td>
    <td class="center">
        <button hx-get="/streamer-info/{{ streamer.username }}/{{ streamer.site }}"
            hx-trigger="click"
            hx-target="closest .streamer"
            hx-sync="closest .streamer:replace"
            hx-swap="outerHTML"
            hx-disabled-elt="this">
            <i class="icon feather icon-refresh-cw"></i>
        </button>
    </td>
    <td class="center">
        <button hx-delete="/remove/{{ streamer.username }}/{{ streamer.site }}"
            hx-trigger="click"
            hx-target="closest .streamer"
            hx-sync="closest .streamer:replace"
            hx-swap="outerHTML"
            {{ 'hx-confirm="Are you sure you want to remove {streamer}?"'.format(streamer=streamer.username) if confirm_deletes }}
            hx-disabled-elt="this"
            class="modify-streamers delete-streamer">
            <i class="icon feather icon-trash-2"></i>
        </button>
    </td>
</tr>
{% endif %}
{% if streamer_has_error %}
<div id="error-container" hx-swap-oob="true">
    <div class="error-modal">
        <span>{{ streamer_error_message }}</span>
        <button hx-delete="/clear" hx-swap="outerHTML" hx-target="closest .error-modal" hx-trigger="click">dismiss</button>
    </div>
</div>
{% endif %}